<table class="table table-bordered">
  <thead>
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Email</th>
        <th style="text-align: center;">Mobile</th>
        <th style="text-align: center;">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let objdata of previousdata.Items | paginate: {itemsPerPage: previousdata.PagerInfo.PageSize,currentPage: previousdata.PagerInfo.CurrentPage,totalItems: previousdata.PagerInfo.TotalNumberOfItems};">
          <td>{{objdata.name}}</td>
          <td>{{objdata.email}}</td>
          <td>{{objdata.mobile}}</td>
          <td>
              <button class="btn btn-xs btn-labeled btn-warning" style="margin-left: 3px;"><span class="btn-label icon fa fa-pencil"></span>Edit</button>
              <button class="btn btn-xs btn-labeled btn-danger" style="margin-left: 3px;"><span class="btn-label icon fa fa-trash-o"></span>Delete</button>
          </td>
      </tr>
      <tr *ngIf="previousdata.PagerInfo.TotalNumberOfItems <= 0">
        <td colspan="2">
            <div class="note note-primary text-center">
              <h4 class="note-title">No Previous Records</h4>
            </div>
        </td>
    </tr>
  </tbody>
</table>
