::ng-deep .mdc-text-field__input {
  font-size: 14px !important;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-elevation-z8{
  overflow-x: auto ;
}

mat-label{
  font-size: 13px;
}

.mat-mdc-header-row {
  background-color: #eb3756 !important;
  color: #fff !important;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #FFFFFF;
}

.mat-mdc-row:nth-child(even) {
  background-color: #edf0f1;
}

mat-grid-list{
  padding-bottom: 20px !important;
  margin: 70px 10px 45px 10px !important;
}

mat-grid-list mat-grid-title{
  height: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep .mat-grid-tile {
  overflow: visible !important;
  padding-top: 0px !important;
}

mat-grid-list mat-grid-tile button{
border-radius: 10px;
height: 50px;
margin-top: -13px;
font-size: 13px;
}

mat-grid-list mat-grid-tile button a{
  text-decoration: none !important;
  color: #fff;
}

.mat-mdc-form-field {
  width: 100%;
}

th{
  font-size: 13px;
  font-weight: bold;
}

td{
  font-size: 13px;
}

td button{
  margin-right: 10px;
  font-size: 13px;
}

.mat-column-lastUpdatedOn {
  word-break: break-word;
  width: 100% !important;
}

.mat-headline-medium{
  margin-top: 40px !important;
}

::ng-deep .mat-mdc-paginator-container{
  justify-content: center !important;
}

.result{
  font-size: 17px;
  text-align: right;
  padding-top: 20px;
}

::ng-deep .mat-mdc-select-value-text{
  font-size: 13px !important;
  font-weight: 400 !important;
}

::ng-deep .mdc-list-item__primary-text{
  font-size: 13px !important;
}

::ng-deep .mat-grid-tile-content{
  height: 20% !important;
  margin-bottom: 20px !important;
}

::ng-deep .mat-mdc-header-cell{
  width:14% !important;
}

::ng-deep .cdk-header-cell{
  width:14% !important;
}

.dailogP{
  font-size: 17px ;
  padding: 20px;
}

.dailogB{
  font-size: 14px ;
}

/* Order State Color */
.state-created {
  background-color: #d9d909;
}
.state-failed-to-assign {
  background-color: gray;
}
.state-assigned {
  background-color: blue;
}
.state-accepted {
  background-color: purple;
}
.state-captain-rejected {
  background-color: orange;
}
.state-start-ride {
  background-color: teal;
}
.state-reached-shop {
  background-color: brown;
}
.state-order-picked {
  background-color: navy;
}
.state-shipped {
  background-color: cyan;
}
.state-reached-location {
  background-color: darkgreen;
}
.state-customer-rejected {
  background-color: darkred;
}
.state-customer-change-location {
  background-color: darkorange;
}
.state-delivered {
  background-color: green;
}
.state-canceled {
  background-color: red;
}

