<form #addForm="ngForm" novalidate autocomplete="off" class="panel panel-success form-horizontal">
  <div class="panel-heading text-center">
    <span class="panel-title h4">Employee Information</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group no-margin-hr">
          <label class="control-label">Name<span style="color: red;"> * </span></label>
          <input type="text" id="name" name="name" [(ngModel)]="employee.name" #name="ngModel" required min="0"
            maxlength="50" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <label class="control-label"></label>
        <div class="alert-error-message alert-danger " *ngIf="name.errors && (name.dirty || name.touched)">
          <span *ngIf="name.errors['required']">This Field Required</span>
          <span *ngIf="name.errors['maxlength']">This Field Has MaxLenght 50 character</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group no-margin-hr">
          <label class="control-label">Email<span style="color: red;"> * </span></label>
          <input type="text" id="email" name="email" [(ngModel)]="employee.email" #email="ngModel" required min="0"
            maxlength="50" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <label class="control-label"></label>
        <div class="alert-error-message alert-danger " *ngIf="email.errors && (email.dirty || email.touched)">
          <span *ngIf="email.errors['required']">This Field Required</span>
          <span *ngIf="email.errors['maxlength']">Please Enter Valid Email</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group no-margin-hr">
          <label class="control-label">Mobile<span style="color: red;"> * </span></label>
          <input type="tel" id="mobile" name="mobile" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" [(ngModel)]="employee.mobile"
            #mobile="ngModel" required min="11" maxlength="11" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <label class="control-label"></label>
        <div class="alert-error-message alert-danger " *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
          <span *ngIf="mobile.errors['required']">This Field Required</span>
          <span *ngIf="mobile.errors['maxlength']">This Field Has MaxLenght 11 Number</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group no-margin-hr">
          <label class="control-label">Role<span style="color: red;"> * </span></label>
          <select id="role" name="role" class="form-control form-select" [(ngModel)]="employee.role" #role="ngModel"
            required>
            <option *ngFor="let r of employeeRole" [ngValue]="r">{{ r }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label class="control-label"></label>
        <div class="alert-error-message alert-danger" *ngIf="role.errors && (role.dirty || role.touched)">
          <span *ngIf="role.errors['required']">This Field Required</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group no-margin-hr">
          <label class="control-label">Password<span style="color: red;"> * </span></label>
          <div class="password-input-wrapper">
            <input type="{{showPassword? 'text' : 'password'}}" id="password" placeholder="Enter Your Password"
              name="password" minlength="8" required [(ngModel)]="employee.password" #password="ngModel"
              class="form-control">
            <span class="glyphicon">
              <i class="fa" [ngClass]="{'fa-eye': !showPassword ,'fa-eye-slash' : showPassword}"
              (click)="toggllePassword()"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="control-label"></label>
        <div class="alert-error-message alert-danger " *ngIf="password.errors && (password.dirty || password.touched)">
          <span *ngIf="password.errors['required']">This Field Required</span>
          <span *ngIf="password.errors['minlength']">Password should be more thatn 8 character</span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <button class="btn btn-labeled btn-success" type="submit"><span
        class="btn-label icon fa fa-save"></span>Save</button>
    <button class="btn btn-labeled btn-warning" type="button" style="margin-left: 5px;"><span
        class="btn-label icon fa fa-refresh"></span>Cancel</button>
  </div>
</form>
