.panel-footer button{
  font-size: 17px;
  padding: 10px 20px;
}

.parent{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.radio {
  width: 20px;
  height: 15px;
}

.labelR{
  font-size: 14px;
  margin-left: 10px;
  padding-top: 5px;
}

::ng-deep .mat-mdc-snack-bar-label{
  font-size: 12px !important;
}

::ng-deep .mdc-button__label{
  font-size: 12px !important;
}
