<form action="" class="panel form-horizontal">
  <div class="panel-heading">
      <span class="panel-title">Search Form Information</span>
  </div>
  <div class="panel-body">
      <div class="row form-group">
          <div class="col-sm-1"></div>
          <label class="col-sm-1 control-label"><i class="fa fa-search"></i></label>
          <div class="col-sm-6">
              <input type="text" id="namesearchfield" name="namesearchfield" class="form-control">

          </div>
          <div class="col-sm-4">
              <button class="btn btn-labeled btn-teal" type="submit" style="margin-right: 5px;"><span class="btn-label icon fa fa-search"></span>Search</button>
              <button class="btn btn-labeled btn-maroon" type="button" style="margin-right: 5px;"><span class="btn-label icon fa fa-rotate-left"></span>Clear</button>
          </div>
      </div>
  </div>
</form>
