<mat-grid-list cols="5">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-form-field>
    <mat-label style="font-size: 12px;">Filter</mat-label>
    <input matInput class="headline" (keyup)="applyFilter($event)" placeholder="Search items" #input>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button
      mat-flat-button
      style="background-color: #eb3756;"
      color="accent"
      color="accent"
      routerLink="/captin/create"
      >Create Captin</button>
  </mat-grid-tile>
</mat-grid-list>

<div class="mat-elevation-z8" style="margin-right: 5px; overflow: auto;">
  <table mat-table [dataSource]="captins" matSort>

    <ng-container matColumnDef="captainName">
      <th mat-header-cell *matHeaderCellDef>Captain Name</th>
      <td mat-cell *matCellDef="let row">{{ row.captainName }}</td>
    </ng-container>

    <ng-container matColumnDef="captainEmail">
      <th mat-header-cell *matHeaderCellDef>Captain Email</th>
      <td mat-cell *matCellDef="let row">{{ row.captainEmail }}</td>
    </ng-container>

    <ng-container matColumnDef="captinState">
      <th mat-header-cell *matHeaderCellDef>Captain State</th>
      <td mat-cell *matCellDef="let row">{{getStateLabel(row.captinState)}}</td>
    </ng-container>

    <ng-container matColumnDef="captainMobile">
      <th mat-header-cell *matHeaderCellDef>Captain Mobile</th>
      <td mat-cell *matCellDef="let row">{{ row.captainMobile }}</td>
    </ng-container>

    <ng-container matColumnDef="priorityAssign">
      <th mat-header-cell *matHeaderCellDef>Periority Assine</th>
      <td mat-cell *matCellDef="let row">{{ getPriorityAssignState(row.priorityAssign) }}</td>
    </ng-container>

    <ng-container matColumnDef="activationState">
      <th mat-header-cell *matHeaderCellDef>Activation State</th>
      <td mat-cell *matCellDef="let row">{{ row.activationState }}</td>
    </ng-container>

    <ng-container matColumnDef="employmentType">
      <th mat-header-cell *matHeaderCellDef>Emplyee Type</th>
      <td mat-cell *matCellDef="let row">{{ row.employmentType }}</td>
    </ng-container>

    <ng-container matColumnDef="commissionRule">
      <th mat-header-cell *matHeaderCellDef>Commision Role</th>
      <td mat-cell *matCellDef="let row">{{ row.commissionRule }}</td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>Created On</th>
      <td mat-cell *matCellDef="let row">{{ row.createdOn | date }}</td>
    </ng-container>

    <!-- Actions 1 Column -->
    <!-- <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef>Areas</th>
      <td mat-cell *matCellDef="let element" style="width: 1%; white-space: nowrap">
        <button mat-raised-button [routerLink]="[element.id,'area']">Add Area</button>
      </td>
    </ng-container> -->

     <!-- Actions 1 Column -->
     <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" style="width: 1%; white-space: nowrap">
        <button mat-flat-button color="primary" [routerLink]="['/captin/update', element.id]">Edit</button>
        <button mat-flat-button color="warn" (click)="deleteCaptin(element.id)">Delete</button>
      </td>
    </ng-container>

    <!-- Confirmation Dialog Template -->
    <ng-template #confirmDialog>
      <div mat-dialog-content>
        <p class="dailogP">Are you sure you want to delete this captin?</p>
      </div>
      <div mat-dialog-actions>
        <button class="dailogB" mat-flat-button color="primary" (click)="onDialogNoClick()">Cancel</button>
        <button class="dailogB" mat-flat-button color="warn" (click)="onDialogYesClick()"
          cdkFocusInitial>Confirm</button>
      </div>
    </ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
  class="mat-headline-medium"
  showFirstLastButtons
  [length]="totalNumberOfItems"
  [pageSize]="8"
  [pageSizeOptions]="[8, 12, 14]"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>
</div>
